html {
    font-family: Roboto;
    font-weight: 300;
    text-align: center;
}

body {
    background-color: #e6e6e6;
}

body, html {
    height: 100%;
}

.hidden {
    display: none;
}

.container {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 778px;
    margin: 0 auto;
    height: 100%;
    overflow: auto;
    padding-bottom: 1em;
}

.header {
    margin-left: 3.5em;
    margin-right: 3.5em;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    color: #428bca;
    font-size: 2.3em;
    border-bottom: 1px solid #cfcfcf;
}

.content {
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1.7em;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 0.75em;
}

.content-top .linear {
    float: left;
    padding-right: 1em;
}

.content-top {
    overflow: auto;
}

.content-top .conv {
    float: left;
    margin-left: 0.75em;
}

.content-top .pure-button {
    margin-left: 0.25em;
}

.content-algorithm {
    margin-top: 1em;
    margin-bottom: 1em;
}

.content-algorithm .pure-button {
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.button-secondary {
    color: white;
    background: rgb(66, 184, 221); /* this is a light blue */
}

.content-waveforms {
    overflow: auto;
    margin-top: 2em;
}

.waveform-container {
    float: left;
    width: 50%;
    overflow: auto;
    box-sizing: border-box;
    padding: 2em;
}

.waveform-container .waveform {
    margin-bottom: 1em;
}

.waveform-container .play-pause {
    float: left;
    margin-left: 3em;
}

.waveform-container .slider {
    float: left;
    margin-left: 2em;
    margin-top: 0.23em;
}

.info {
    font-style: italic;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.content-graphs {
    overflow: auto;
}
.content-graphs .graph-container {
    float: left;
    padding: 1em;
    width: 50%;
    box-sizing: border-box;
}

.graph-container img {
    width: 100%;
    height: 100%;
}
