html {
    font-family: Roboto;
    font-weight: 300;
    text-align: center;
}

body {
    background-color: #e6e6e6;
}

body, html {
    height: 100%;
}

.hidden {
    display: none;
}

.container {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 778px;
    margin: 0 auto;
    height: 100%;
    overflow: auto;
}

.header {
    margin-left: 3.5em;
    margin-right: 3.5em;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    color: #428bca;
    font-size: 2.3em;
    border-bottom: 1px solid #cfcfcf;
}

.content {
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1.7em;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 0.75em;
}

.content-top .linear {
    float: left;
    padding-right: 1em;
}

.content-top {
    overflow: auto;
}

.content-top .conv {
    float: left;
    margin-left: 0.75em;
}

.content-top .pure-button {
    margin-left: 0.25em;
}

.content-algorithm {
    margin-top: 1em;
    margin-bottom: 1em;
}

.content-algorithm .pure-button {
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.button-secondary {
    color: white;
    background: rgb(66, 184, 221); /* this is a light blue */
}

.content-waveforms {
    overflow: auto;
    margin-top: 2em;
}

.waveform-container {
    float: left;
    width: 50%;
    overflow: auto;
    box-sizing: border-box;
    padding: 2em;
}

.waveform-container .waveform {
    margin-bottom: 1em;
}

.waveform-container .play-pause {
    float: left;
    margin-left: 3em;
}

.waveform-container .slider {
    float: left;
    margin-left: 2em;
    margin-top: 0.23em;
}

.info {
    font-style: italic;
}
